.cms-awards{
    display: flex;
    background-color: #ced4d8; /* Warna biru keputihan */
  }
  
.main-content {
    background-color: #ced4d8; /* Warna biru keputihan */
    min-height: 100vh;
}

.card {
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-top: 20px;
}

.awards-title {
    margin-top: 2%;
    margin-left: 2%;
    font-weight: bold;
}

/* Styles untuk tombol Sort By */
.sort-buttons {
    display: flex;
    justify-content: flex-start; /* Menempatkan tombol di sebelah kiri */
    margin-top: 1rem; /* Memberi jarak bawah */
    font-size: 14px;
  }
  
  .sort-button {
    background-color: #051941; 
    color:#ffffff; 
    padding: 0.5rem 1rem; /* Padding untuk tombol */
    margin-right: 0.5rem; 
    cursor: pointer; 
    border-radius: 15px;
  }
  
  .sort-button:hover {
    background-color: #495057;
  }