.cms-awards{
    display: flex;
    background-color: #ced4d8; /* Warna biru keputihan */
  }
  
.main-content {
    margin-left: 270px; /* Sesuaikan dengan lebar sidebar */
    padding: 20px;
    background-color: #ced4d8; /* Warna biru keputihan */
    min-height: 100vh;
}

.card {
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-top: 20px;
}