.cms-countries {
    display: flex;
    background-color: #ced4d8; /* Warna biru keputihan */
  }
  
.main-content {
    flex-grow: 1;
    background-color: #ced4d8; /* Warna biru keputihan */
    min-height: 100vh;
    margin-left: 210px;
    padding: 10px;
}

.sidebar {
    min-height: 100vh;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #051941;
    padding-top: 30px;
    padding-left: 20px;
}

.sidebar .h1{
  font-size: 20px;
    color: antiquewhite;
}

.sidebar .nav-link {
    font-size: 16px;
    margin: 5px 0;
}

.sidebar .nav-link.active {
    font-weight: bold;
    background-color: #0D6EFD;
    color: #495057;
    border-radius: 4px; 
}

.nav-item .nav-link:hover{
    background-color: #495057;
}

.table{
  margin-top: 20px;
  font-size: 14px;
}

@media (max-width: 1199px) {
  .sidebar {
    height: auto;
    width: 100%;
    position: relative;
  }

  .sidebar h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
  }

  .sidebar img {
    width: 23px;
    height: 23px;
  }

  .main-content {
    margin-left: 0px;
  }
  
}

@media (max-width: 1200px) {
    .sidebar {
        padding-left: 10px;
        height: auto;
    }

    .sidebar h1 {
        font-size: 22px;
        text-align: center;
        font-weight: 500;
    }

    .sidebar img {
        width: 25px;
        height: 25px;
    }

    .sidebar .nav-link {
        font-size: 15px;
    }

    .main-content {
      margin-left: 0px;
    }
}

@media (max-width: 1370px) {
  .sidebar {
    height: auto;
  }

  .sidebar h1 {
      font-size: 25px;
      text-align: center;
      font-weight: 500;
  }

  .sidebar img {
      width: 40px;
      height: 40px;
  }

  .sidebar .nav-link {
      font-size: 16px; 
  }

}

.add-country{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.table-countries{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    color: #333333; /* Warna teks tabel */
    border-radius: 15px; /* Sudut membulat pada tabel */
}

.table-responsive th {
  background-color: #0d6efd; /* Warna latar belakang untuk header tabel */
  color: #ffffff; /* Warna teks untuk header tabel */
}

.table-countries tbody tr {
  background-color: #f8f9fa; /* Warna latar belakang untuk baris tabel */
  transition: background-color 0.3s ease;
}

.table-countries table tbody tr:hover {
  background-color: #e6f0ff; /* Warna latar belakang saat baris di-hover */
}

.table-countries table tbody tr td,
.table-countries table thead th {
  padding: 12px;
  border-bottom: 1px solid #dee2e6; /* Warna garis bawah antar baris */
}

.table-countries .btn-warning {
  background-color: #f1ee2fe5;
  border-color: #f1ee2fe5;
  font-size: 14px;
}

.table-countries .btn-success {
  background-color: #28a745;
  border-color: #28a745;
  font-size: 14px;
}

.table-countries .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  font-size: 14px;
}

.table-countries .btn-success:hover,
.table-countries .btn-danger:hover {
  opacity: 0.8; /* Efek hover pada tombol */
}

.card {
  background-color: #F2F2F2;
  border-radius: 15px;
  margin-top: 20px;
}

.countries-title {
  margin-top: 2%;
  margin-left: 2%;
  font-weight: bold;
}


/* actors grid for cms-movies */
.selected-actors-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
  gap: 10px; /* Space between items */
  margin-top: 15px;
}

.selected-actor-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  position: relative;
}

.selected-actor-item img.actor-photo {
  height: 40px;
  margin-right: 10px;
}

.selected-actor-item button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #051941;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.selected-actor-item button:hover {
  background-color: #495057;
}
