.cms-countries {
    display: flex;
    background-color: #ced4d8; /* Warna biru keputihan */
  }
  
.main-content {
    margin-left: 270px; /* Sesuaikan dengan lebar sidebar */
    padding: 20px;
    background-color: #ced4d8; /* Warna biru keputihan */
    min-height: 100vh;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #051941;
    padding-top: 30px;
    padding-left: 20px;
}

.sidebar .h1{
    color: antiquewhite;
}

.sidebar .nav-link {
    font-size: 18px;
    margin: 5px 0;
}

.sidebar .nav-link.active {
    font-weight: bold;
    background-color: #0D6EFD;
    color: #495057;
    border-radius: 4px; 
}

.nav-item .nav-link:hover{
    background-color: #495057;
}

.table{
  margin-top: 20px;
  font-size: 18px;
}

@media (max-width: 1200px) {
    .sidebar {
        padding-left: 10px;
    }

    .sidebar h1 {
        font-size: 22px;
        text-align: center;
        font-weight: 500;
    }

    .sidebar img {
        width: 25px;
        height: 25px;
    }

    .sidebar .nav-link {
        font-size: 15px;
    }
}

.add-country{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.table-countries{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.table-countries table {
  background-color: #ffffff; /* Warna latar belakang tabel */
  color: #333333; /* Warna teks tabel */
  border-radius: 15px; /* Sudut membulat pada tabel */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Bayangan untuk tabel */
}

.table-countries table thead {
  background-color: #0d6efd; /* Warna latar belakang untuk header tabel */
  color: #ffffff; /* Warna teks untuk header tabel */
}

.table-countries table tbody tr {
  background-color: #f8f9fa; /* Warna latar belakang untuk baris tabel */
  transition: background-color 0.3s ease;
}

.table-countries table tbody tr:hover {
  background-color: #e6f0ff; /* Warna latar belakang saat baris di-hover */
}

.table-countries table tbody tr td,
.table-countries table thead th {
  padding: 12px;
  border-bottom: 1px solid #dee2e6; /* Warna garis bawah antar baris */
}

.table-countries .btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.table-countries .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.table-countries .btn-success:hover,
.table-countries .btn-danger:hover {
  opacity: 0.8; /* Efek hover pada tombol */
}

.card {
  background-color: #F2F2F2;
  border-radius: 15px;
  margin-top: 20px;
}

.countries-title {
  margin-top: 2%;
  margin-left: 2%;
  font-weight: bold;
}